.label{
font-weight:bold;
font-size:95%;
}

.toggleInfo{
display:none;
}
.addPadding{
padding-bottom:2%;
}
.toggle{
color:blue;
cursor:pointer;
cursor:hand;
font-weight:bold;
font-size:95%;
}
#rightsLink:hover{
text-decoration:underline;
}
#addCreditsLink:hover{
text-decoration:underline;
}

#movieDIV{
background-color:#000000;
}

#runtimeInfo{
font-style:italic;
font-size:80%;
}
